footer
    p
        a(href="/faq") FAQs
        |
        | &bull;
        |
        | An experiment by
        |
        a(href="https://tdjs.tech", target="_blank") Tom Snelling
        |
        | &bull; Built March 2022, reimagined May 2023 &bull; Licensed GPLv3
