footer
    p An experiment by
        |
        |
        a(href="https://tdjs.dev", target="_blank") Tom Snelling
        |
        | &middot;
        |
        | MMXXII &middot;
        |
        a(href="/about#donate") Donate

    p.epigraph By this art you may contemplate the variation of the 23 letters...
