footer
    p An experiment by
        |
        |
        a(href="https://tdjs.tech", target="_blank") Tom Snelling
        |
        | &bull; Built March 2022 &bull; Licensed GPLv3
        |
        | &bull;
        |
        a(href="/faq") FAQs
