head
    title Library of Babel — explore the Library of Babel online
    meta(name="description", content="Explore a re-creation of Borges' Library of Babel.")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    link(rel="stylesheet", href="/css/index.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin=true)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap")
    script(async=true, src="https://www.googletagmanager.com/gtag/js?id=G-CQ0N7LYG3B")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-CQ0N7LYG3B');
