doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug

        div.BodyStyle
            h2 Limitations
            p In the original story, it is stated that “there are no two identical books”. Due to some reasonable limits of computation, this site reduces that to “there are no two identical pages”.
            p Of course then it follows that in this re-creation there are no two identical books, but this also means that searched content cannot span over more than one page. If you search for some text and the following page is gibberish, then in this implementation it cannot also exist followed by a page of continuing prose.
            p The number of possible unique books is 29
                span.super 1,312,000
                |
                | — 29 characters in our alphabet to the power of the number of characters per book, 1,312,000,  gives this many permutations. By comparison, there are thought to be around 10
                span.super 80
                |
                | atoms in the observable universe. This number of unique books is so incomprehensibly huge, it may as well be infinity.
            p The way that this implementation works is to generate unique random numbers, and then turn those numbers into the content on each page. To be able to do this on a book-by-book level, we would have to work with numbers 1,312,000 digits long — which as far as I know, is just not manageable, even using specialised 'big number' data types and libraries.
            p So instead, we have to work on a page-by-page level. There are 29
                span.super 3200
                |
                | possible unique pages, which while still a very large number, is much more manageable. We can reliably work with numbers 3200 digits long, and use them to generate unique and random 3200 character pages.
            p This unfortunately leaves the vast majority of possible books unreachable. They cannot exist in this implementation, and thus the library is not complete. If you have some ideas as to how a complete library could be achieved, please reach out! You can get in touch via email at
                |
                |
                a(href="mailto:babel@tdjs.tech", target="_blank") babel@tdjs.tech
                |
                | I still strive to come up with a way to build a complete library.

        include includes/footer.pug
