doctype html
html(lang="en")
    include includes/head.pug
    body
        include includes/nav.pug

        div.BodyStyle(style="margin-bottom: 20px;")
            p Any text you can come up with will already have been written down, somewhere deep within the library. All that remains is to find it.
            p
                em “...the detailed history of the future...”
            p
                em “...the autobiographies of the archangels...”
            p
                em “...the faithful catalog of the Library...”
            p
                em “...the true story of your death...”
            p
                em “...the translation of every book into every language...”

        form.SearchForm
            textarea(name="content", rows=10, required=true, placeholder="Enter up to 3200 characters from a-z, comma, full-stop, or space. New lines are preserved in empty page mode.")
            div.ModeSelection
                label
                    input(type="radio", name="mode", value="empty", checked=true)
                    | On an empty page
                label
                    input(type="radio", name="mode", value="chars")
                    | With random characters
                label
                    input(type="radio", name="mode", value="words")
                    | With random English words
            button Search

        include includes/footer.pug

    script(src="/js/handleInput.js", type="text/javascript")
