doctype html
html(lang="en")
    include includes/head.pug
    +seo("Read The Library of Babel", "The Library of Babel is a fictional library that contains every book that has ever been written, and every book that ever will be written. But how does it work? What is the algorithm?")

    body
        include includes/nav.pug

        main.ProseStyle
            h2 The Library of Babel
            h3 By Jorge Luis Borges
            p The universe (which others call the Library) is composed of an indefinite, perhaps infinite number of hexagonal galleries. In the center of each gallery is a ventilation shaft, bounded by a low railing. From any hexagon one can see the floors above and below—one after another, endlessly. The arrangement of the galleries is always the same: Twenty bookshelves, five to each side, line four of the hexagon’s six sides; the height of the bookshelves, floor to ceiling, is hardly greater than the height of a normal librarian. One of the hexagon’s free sides opens onto a narrow sort of vestibule, which in turn opens onto another gallery, identical to the first—identical in fact to all. To the left and right of the vestibule are two tiny compartments. One is for sleeping, upright; the other, for satisfying one’s physical necessities. Through this space, too, there passes a spiral staircase, which winds upward and downward into the remotest distance. In the vestibule there is a mirror, which faithfully duplicates appearances. Men often infer from this mirror that the Library is not infinite—if it were, what need would there be for that illusory replication? I prefer to dream that burnished surfaces are a figuration and promise of the infinite... Light is provided by certain spherical fruits that bear the name “bulbs.” There are two of these bulbs in each hexagon, set crosswise. The light they give is insufficient, and unceasing.
            p Like all the men of the Library, in my younger days I traveled; I have journeyed in quest of a book, perhaps the catalog of catalogs. Now that my eyes can hardly make out what I myself have written, I am preparing to die, a few leagues from the hexagon where I was born. When I am dead, compassionate hands will throw me over the railing; my tomb will be the unfathomable air, my body will sink for ages, and will decay and dissolve in the wind engendered by my fall, which shall be infinite. I declare that the Library is endless. Idealists argue that the hexagonal rooms are the necessary shape of absolute space, or at least of our perception of space. They argue that a triangular or pentagonal chamber is inconceivable. (Mystics claim that their ecstasies reveal to them a circular chamber containing an enormous circular book with a continuous spine that goes completely around the walls. But their testimony is suspect, their words obscure. That cyclical book is God.) Let it suffice for the moment that I repeat the classic dictum:
                |
                |
                em The Library is a sphere whose exact center is any hexagon and whose circumference is unattainable.
            p Each wall of each hexagon is furnished with five bookshelves; each bookshelf holds thirty-two books identical in format; each book contains four hundred ten pages; each page, forty lines; each line, approximately eighty black letters. There are also letters on the front cover of each book; those letters neither indicate nor prefigure what the pages inside will say. I am aware that that lack of correspondence once struck men as mysterious. Before summarizing the solution of the mystery (whose discovery, in spite of its tragic consequences, is perhaps the most important event in all history), I wish to recall a few axioms.
            p First:
                |
                |
                em The Library has existed ab æternitate
                | . That truth, whose immediate corollary is the future eternity of the world, no rational mind can doubt. Man, the imperfect librarian, may be the work of chance or of malevolent demiurges; the universe, with its elegant appointments—its bookshelves, its enigmatic books, its indefatigable staircases for the traveler, and its water closets for the seated librarian—can only be the handiwork of a god. In order to grasp the distance that separates the human and the divine, one has only to compare these crude trembling symbols which my fallible hand scrawls on the cover of a book with the organic letters inside—neat, delicate, deep black, and inimitably symmetrical.
            p Second:
                |
                |
                em There are twenty-five orthographic symbols
                | .
                span.super
                    a(href="#1") 1
                |
                | That discovery enabled mankind, three hundred years ago, to formulate a general theory of the Library and thereby satisfactorily solve the riddle that no conjecture had been able to divine—the formless and chaotic nature of virtually all books. One book, which my father once saw in a hexagon in circuit 15-94, consisted of the letters M C V perversely repeated from the first line to the last. Another (much consulted in this zone) is a mere labyrinth of letters whose penultimate page contains the phrase
                |
                |
                em O Time thy pyramids
                | . This much is known: For every rational line or forthright statement there are leagues of senseless cacophony, verbal nonsense, and incoherency. (I know of one semibarbarous zone whose librarians repudiate the “vain and superstitious habit” of trying to find sense in books, equating such a quest with attempting to find meaning in dreams or in the chaotic lines of the palm of one’s hand... They will acknowledge that the inventors of writing imitated the twenty-five natural symbols, but contend that that adoption was fortuitous, coincidental, and that books in themselves have no meaning. That argument, as we shall see, is not entirely fallacious.)
            p For many years it was believed that those impenetrable books were in ancient or far-distant languages. It is true that the most ancient peoples, the first librarians, employed a language quite different from the one we speak today; it is true that a few miles to the right, our language devolves into dialect and that ninety floors above, it becomes incomprehensible. All of that, I repeat, is true—but four hundred ten pages of unvarying M C V’s cannot belong to any language, however dialectal or primitive it may be. Some have suggested that each letter influences the next, and that the value of M C V on page 71, line 3, is not the value of the same series on another line of another page, but that vague thesis has not met with any great acceptance. Others have mentioned the possibility of codes; that conjecture has been universally accepted, though not in the sense in which its originators formulated it.
            p Some five hundred years ago, the chief of one of the upper hexagons
                span.super
                    a(href="#2") 2
                |
                | came across a book as jumbled as all the others, but containing almost two pages of homogeneous lines. He showed his find to a traveling decipherer, who told him that the lines were written in Portuguese; others said it was Yiddish. Within the century experts had determined what the language actually was: a Samoyed-Lithuanian dialect of Guarani, with inflections from classical Arabic. The content was also determined: the rudiments of combinatory analysis, illustrated with examples of endlessly repeating variations. Those examples allowed a librarian of genius to discover the fundamental law of the Library. This philosopher observed that all books, however different from one another they might be, consist of identical elements: the space, the period, the comma, and the twenty-two letters of the alphabet. He also posited a fact which all travelers have since confirmed:
                |
                |
                em In all the Library, there are no two identical books
                | . From those incontrovertible premises, the librarian deduced that the Library is “total”—perfect, complete, and whole—and that its bookshelves contain all possible combinations of the twenty-two orthographic symbols (a number which, though unimaginably vast, is not infinite)—that is, all that is able to be expressed, in every language.
                |
                |
                em All
                | —the detailed history of the future, the autobiographies of the archangels, the faithful catalog of the Library, thousands and thousands of false catalogs, the proof of the falsity of those false catalogs, a proof of the falsity of the
                |
                |
                em true
                |
                | catalog, the gnostic gospel of Basilides, the commentary upon that gospel, the commentary on the commentary on that gospel, the true story of your death, the translation of every book into every language, the interpolations of every book into all books, the treatise Bede could have written (but did not) on the mythology of the Saxon people, the lost books of Tacitus.
            p When it was announced that the Library contained all books, the first reaction was unbounded joy. All men felt themselves the possessors of an intact and secret treasure. There was no personal problem, no world problem, whose eloquent solution did not exist—somewhere in some hexagon. The universe was justified; the universe suddenly became congruent with the unlimited width and breadth of humankind’s hope. At that period there was much talk of The Vindications—books of
                |
                |
                em apologiæ
                |
                | and prophecies that would vindicate for all time the actions of every person in the universe and that held wondrous arcana for men’s futures. Thousands of greedy individuals abandoned their sweet native hexagons and rushed downstairs, upstairs, spurred by the vain desire to find their Vindication. These pilgrims squabbled in the narrow corridors, muttered dark imprecations, strangled one another on the divine staircases, threw deceiving volumes down ventilation shafts, were themselves hurled to their deaths by men of distant regions. Others went insane... The Vindications do exist (I have seen two of them, which refer to persons in the future, persons perhaps not imaginary), but those who went in quest of them failed to recall that the chance of a man’s finding his own Vindication, or some perfidious version of his own, can be calculated to be zero.
            p At that same period there was also hope that the fundamental mysteries of mankind—the origin of the Library and of time—might be revealed. In all likelihood those profound mysteries can indeed be explained in words; if the language of the philosophers is not sufficient, then the multiform Library must surely have produced the extraordinary language that is required, together with the words and grammar of that language. For four centuries, men have been scouring the hexagons... There are official searchers, the “inquisitors.” I have seen them about their tasks: they arrive exhausted at some hexagon, they talk about a staircase that nearly killed them—rungs were missing—they speak with the librarian about galleries and staircases, and, once in a while, they take up the nearest book and leaf through it, searching for disgraceful or dishonorable words. Clearly, no one expects to discover anything.
            p That unbridled hopefulness was succeeded, naturally enough, by a similarly disproportionate depression. The certainty that some bookshelf in some hexagon contained precious books, yet that those precious books were forever out of reach, was almost unbearable. One blasphemous sect proposed that the searches be discontinued and that all men shuffle letters and symbols until those canonical books, through some improbable stroke of chance, had been constructed. The authorities were forced to issue strict orders. The sect disappeared, but in my childhood I have seen old men who for long periods would hide in the latrines with metal disks and a forbidden dice cup, feebly mimicking the divine disorder.
            p Others, going about it in the opposite way, thought the first thing to do was eliminate all worthless books. They would invade the hexagons, show credentials that were not always false, leaf disgustedly through a volume, and condemn entire walls of books. It is to their hygienic, ascetic rage that we lay the senseless loss of millions of volumes. Their name is execrated today, but those who grieve over the “treasures” destroyed in that frenzy overlook two widely acknowledged facts: One, that the Library is so huge that any reduction by human hands must be infinitesimal. And two, that each book is unique and irreplaceable, but (since the Library is total) there are always several hundred thousand imperfect facsimiles—books that differ by no more than a single letter, or a comma. Despite general opinion, I daresay that the consequences of the depredations committed by the Purifiers have been exaggerated by the horror those same fanatics inspired. They were spurred on by the holy zeal to reach—someday, through unrelenting effort—the books of the Crimson Hexagon—books smaller than natural books, books omnipotent, illustrated, and magical.
            p We also have knowledge of another superstition from that period: belief in what was termed the Book-Man. On some shelf in some hexagon, it was argued, there must exist a book that is the cipher and perfect compendium
                |
                |
                em of all other books
                | , and some librarian must have examined that book; this librarian is analogous to a god. In the language of this zone there are still vestiges of the sect that worshiped that distant librarian. Many have gone in search of Him. For a hundred years, men beat every possible path—and every path in vain. How was one to locate the idolized secret hexagon that sheltered Him? Someone proposed searching by regression: To locate book A, first consult book B, which tells where book A can be found; to locate book B, first consult book C, and so on, to infinity... It is in ventures such as these that I have squandered and spent my years. I cannot think it unlikely that there is such a total book
                span.super
                    a(href="#3") 3
                |
                | on some shelf in the universe. I pray to the unknown gods that some man—even a single man, tens of centuries ago—has perused and read that book. If the honor and wisdom and joy of such a reading are not to be my own, then let them be for others. Let heaven exist, though my own place be in hell. Let me be tortured and battered and annihilated, but let there be one instant, one creature, wherein thy enormous Library may find its justification.
            p Infidels claim that the rule in the Library is not “sense;” but “non-sense;” and that “rationality” (even humble, pure coherence) is an almost miraculous exception. They speak, I know, of “the feverish Library, whose random volumes constantly threaten to transmogrify into others, so that they affirm all things, deny all things, and confound and confuse all things, like some mad and hallucinating deity.” Those words, which not only proclaim disorder but exemplify it as well, prove, as all can see, the infidels’ deplorable taste and desperate ignorance. For while the Library contains all verbal structures, all the variations allowed by the twenty-five orthographic symbols, it includes not a single absolute piece of nonsense. It would be pointless to observe that the finest volume of all the many hexagons that I myself administer is titled
                |
                |
                em Combed Thunder
                | , while another is titled
                |
                |
                em The Plaster Cramp
                | , and another,
                |
                |
                em Axaxaxas mlö
                | . Those phrases, at first apparently incoherent, are undoubtedly susceptible to cryptographic or allegorical “reading”; that reading, that justification of the words’ order and existence, is itself verbal and,
                |
                |
                em ex hypothesi
                | , already contained somewhere in the Library. There is no combination of characters one can make—
                em dhcmrlchtdj
                | , for example—that the divine Library has not foreseen and that in one or more of its secret tongues does not hide a terrible significance. There is no syllable one can speak that is not filled with tenderness and terror, that is not, in one of those languages, the mighty name of a god. To speak is to commit tautologies. This pointless, verbose epistle already exists in one of the thirty volumes of the five bookshelves in one of the countless hexagons—as does its refutation. (A number
                |
                |
                em n
                |
                | of the possible languages employ the same vocabulary; in some of them, the
                |
                |
                em symbol
                |
                | “library” possesses the correct definition “everlasting, ubiquitous system of hexagonal galleries,” while a library—the thing—is a loaf of bread or a pyramid or something else, and the six words that define it themselves have other definitions. You who read me—are you certain you understand my language?)
            p Methodical composition distracts me from the present condition of humanity. The certainty that everything has already been written annuls us, or renders us phantasmal. I know districts in which the young people prostrate themselves before books and like savages kiss their pages, though they cannot read a letter. Epidemics, heretical discords, pilgrimages that inevitably degenerate into brigandage have decimated the population. I believe I mentioned the suicides, which are more and more frequent every year. I am perhaps misled by old age and fear, but I suspect that the human species—the
                |
                |
                em only
                |
                | species—teeters at the verge of extinction, yet that the Library—enlightened, solitary, infinite, perfectly unmoving, armed with precious volumes, pointless, incorruptible, and secret—will endure.
            p I have just written the word “infinite.” I have not included that adjective out of mere rhetorical habit; I hereby state that it is not illogical to think that the world is infinite. Those who believe it to have limits hypothesize that in some remote place or places the corridors and staircases and hexagons may, inconceivably, end—which is absurd. And yet those who picture the world as unlimited forget that the number of possible books is
                |
                |
                em not
                | . I will be bold enough to suggest this solution to the ancient problem:
                |
                |
                em The Library is unlimited but periodic
                | . If an eternal traveler should journey in any direction, he would find after untold centuries that the same volumes are repeated in the same disorder—which, repeated, becomes order: the Order. My solitude is cheered by that elegant hope.
                span.super
                    a(href="#4") 4

            div.Footnotes
                ol
                    li#1 The original manuscript has neither numbers nor capital letters; punctuation is limited to the comma and the period. Those two marks, the space, and the twenty-two letters of the alphabet are the twenty-five sufficient symbols that our unknown author is referring to. [Ed. note.]
                    li#2 In earlier times, there was one man for every three hexagons. Suicide and diseases of the lung have played havoc with that proportion. An unspeakably melancholy memory: I have sometimes traveled for nights on end, down corridors and polished staircases, without coming across a single librarian.
                    li#3 I repeat: In order for a book to exist, it is sufficient that it be possible. Only the impossible is excluded. For example, no book is also a staircase, though there are no doubt books that discuss and deny and prove that possibility, and others whose structure corresponds to that of a staircase.
                    li#4 Letizia Alvarez de Toledo has observed that the vast Library is pointless; strictly speaking, all that is required is a
                        |
                        |
                        em single volume
                        | , of the common size, printed in nine- or ten-point type, that would consist of an infinite number of infinitely thin pages. (In the early seventeenth century, Cavalieri stated that every solid body is the superposition of an infinite number of planes.) Using that silken
                        |
                        |
                        em vademecum
                        |
                        | would not be easy: each apparent page would open into other similar pages; the inconceivable middle page would have no “back.”

        include includes/footer.pug
